ax-platform==0.2.8
botorch==0.7.2
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
colorama==0.4.6
contourpy==1.0.5
cycler==0.11.0
fonttools==4.38.0
gpytorch==1.9.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
linear-operator==0.1.1
MarkupSafe==2.1.1
matplotlib==3.6.1
multipledispatch==0.6.0
numpy==1.23.4
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.1
Pillow==9.2.0
plotly==5.11.0
pluggy @ file:///C:/ci_310_x64/pluggy_1642599405356/work
pyparsing==3.0.9
pyro-api==0.1.2
pyro-ppl==1.8.2
python-dateutil==2.8.2
pytz==2022.5
scikit-learn==1.1.3
scipy==1.9.3
six==1.16.0
tenacity==8.1.0
threadpoolctl==3.1.0
torch==1.13.0
tqdm==4.64.1
typeguard==2.13.3
typing_extensions==4.4.0
wincertstore==0.2
